body {
  min-height: 100%;
  
  font-family: Verdana, Geneva, sans-serif;
  color: #ffffff;

  background-color: #ffcc00;
  background-image: -webkit-linear-gradient(top, #ffcc00, #ffe066);
  background-image: -moz-linear-gradient(top, #ffcc00, #ffe066);
  background-image: -o-linear-gradient(top, #ffcc00, #ffe066);
  background-image: linear-gradient(to bottom, #ffcc00, #ffe066);
}
